[2016-06-07 22:46] gdcohan opened #1 "Can't find 'env' file"
When I run `node index.js` in the `api` directory, I get the following error:
`Error: ENOENT: no such file or directory, open 'env'`

Changing the `path` in `index.js` to point directly to the `env.sh` file seems to fix this.

[2016-06-07 22:56] astrotars commented on #1
Hey @gdcohan, great catch! We're using the [dot-env node module](https://www.npmjs.com/package/dotenv) to load in the environment.

That said, you'll in fact need a file named `env` inside of the API directory. Feel free to drop the `.sh` extension and `export` decorations.

We're working on a better fix for this and will be in touch shortly.

[2016-06-08 08:58] davidvenin commented on #1
Related to this bug, after fixing this a nice error appear :
[code]

[2016-06-08 16:25] astrotars commented on #1
@gdcohan, we've removed the `dot-env` dependency. Please run `source ../env.sh; node index.js` to get your API up and running. Cheers!

[2016-06-08 16:25] #1 closed

[2016-06-08 22:46] qbunt commented on #1
AWESOME series, great to see a full scale real application instead of another ToDo. Kudos!

[2016-06-16 22:50] JeffreyCheng92 opened #3 "Demo wont load"
After connecting to the demo with OAuth (I didnt provide my email address in the provided information), an infinite cycle of post/exceptions occur. The iframe is just forever `loading..`

`external "react":1POST http://cabin.getstream.io:8000/users 500 (Internal Server Error)`

`external "react":1Uncaught (in promise) TypeError: Cannot read property 'notification' of undefined(…)`

[2016-06-17 03:00] astrotars commented on #3
@JeffreyCheng92 I'm assuming that you connected with Facebook, right? In that case, did you allow all permissions? Our application requires that you provide an email address. If you'd like to load the demo, please uninstall the application by visiting your [application settings](https://www.facebook.com/settings?tab=applications). Sorry for the trouble!

[2016-06-17 03:00] #3 closed

[2016-07-01 10:46] fullvlad opened #4 "Demo still not working"
When I try to connect with Facebook, although I enable the email scope

![selection_026_censored](https://cloud.githubusercontent.com/assets/1254006/16519477/eff7d192-3f91-11e6-9e66-87cc84deec80.jpg)

I get these errors in the API several times:

- "The following feeds are not configured: 'timeline_flat'"

- "The following feeds are not configured: 'notification'"

- "The following feeds are not c

[2016-07-01 11:07] tschellenbach commented on #4
It sounds as though your Stream account isn't correctly configured. See step 4: http://cabin.getstream.io/

[2016-07-01 13:07] vladfulgeanu commented on #4
I don't know if that's the case. The Stream's dashboard confirms there were 34 API calls.

[2016-07-01 13:10] tschellenbach commented on #4
http://blog.getstream.io/cabin-react-redux-example-app-stream/

Search for: Setting Up Stream

Specifically this part:

"Next, create a new application in the dashboard with the following feed groups and types:

user_posts (flat)
user (flat)
timeline_flat (flat)
timeline_aggregrated (aggregated)
notification (notification)"

[2016-07-01 13:11] tschellenbach commented on #4
Maybe you've created 2 applications. Setup the feed groups for 1 of the applications, but are using the API keys of the other one?

[2016-07-01 13:43] vladfulgeanu commented on #4
![selection_027](https://cloud.githubusercontent.com/assets/1254006/16523218/ddeb5e10-3faa-11e6-86dc-f74bedede905.png)

[2016-07-01 13:49] tschellenbach commented on #4
Which API key are you using? Is that the same one as this app?

[2016-07-01 13:53] vladfulgeanu commented on #4
yes, it's the same as the one on this app

[2016-07-01 14:37] tschellenbach commented on #4
Might be an issue with your environment variable changes not being picked up. Try rerunning these 3 steps:
- Run webpack to pickup on changes in /app by running source ../env.sh; webpack --watch --progress
- In a terminal window, cd into the directory for /app then source ../env.sh; npm start
- In a terminal window, cd into the directory for /api then source ../env.sh; nodemon

[2016-07-01 16:13] vladfulgeanu commented on #4
Still no luck. I've tried running all three (webpack, api, app) with the environment in env.sh after deleting the Facebook app, although in [here](http://blog.getstream.io/cabin-react-redux-example-app-introduction#todo-20) it doesn't specify to run the app with the environment.

[2016-07-01 16:16] tschellenbach commented on #4
I'm out of ideas. Somehow the API isn't querying the right app. @nparsons08 any thoughts?

[2016-07-07 21:08] astrotars commented on #4
@fullvlad Sorry for the delay. Are you able to jump on a quick video chat? I'm happy to help debug there. Let me know and we can set something up on http://appear.in/

[2016-07-07 21:45] vladfulgeanu commented on #4
hey, @nparsons08, yes, how should I enter?

[2016-07-07 21:52] astrotars commented on #4
@fullvlad I'll wait for you in https://appear.in/stream. See you soon! :)

[2016-07-07 21:56] vladfulgeanu commented on #4
@nparsons08 wow, I've just found right now what was the culprit. As you can see in my stream.io Feeds Groups screenshot, I entered "timeline_aggregrated" with a typo because I copied it from @tschellenbach's comment. I edited it now, and it works :D

[2016-07-07 21:58] tschellenbach commented on #4
Which I copied from the blogpost, brilliant :)
http://blog.getstream.io/cabin-react-redux-example-app-stream/

[2016-07-07 21:59] vladfulgeanu commented on #4
lol ... at least we've found this typo.
thanks a lot for your help and close inputs!

[2016-07-07 22:00] astrotars commented on #4
@fullvlad Nice find! Let us know if there's anything else you need help with.

[2016-07-07 22:04] #4 closed

[2016-07-14 01:32] niccolox opened #5 "UNMET PEER DEPENDENCY react@15.1.0"
hi

on Ubuntu Xenial host

working through the tutorials and getting this error

http://blog.getstream.io/cabin-react-redux-example-app-stream/

[code]

inside the api directory works fine

[code]

related?
https://github.com/facebook/react-native/issues/7803

[2016-07-14 01:47] niccolox commented on #5
got past the npm error by updating the app/package.json to react@15.2.1

not sure if the entire example is now broken

but moving on and leaving open

[code]

[code]

[2016-07-14 17:31] astrotars commented on #5
Thanks for the heads up @niccolox. Please keep us updated on your progress and feel free to reach out should you have any questions.

[2016-07-14 18:13] niccolox commented on #5
no worries

api and app seem to work fine, although haven't completely got mapbox and algolia working yet

although I think that might be more cloud dashboard config than code

[2016-07-14 20:21] niccolox opened #6 "typo for maps"
typo on http://blog.getstream.io/cabin-react-redux-example-app-mapbox/

app/routes/Location/Location.js doesnt exist

its /app/modules/routes/Location/Location.js

[2016-07-18 16:05] astrotars commented on #6
Thanks @niccolox! We'll get this taken care of ASAP.

[2016-07-18 16:06] niccolox commented on #6
I also noticed maps crash.. haven't investigated why yet

[2016-07-18 16:09] astrotars commented on #6
Keep us posted on the maps issue. Will also look into. For now, I'm going to close the issue.

[2016-07-18 16:09] #6 closed

[2016-07-19 16:24] #5 closed

[2016-07-24 08:35] kinjalgiri opened #8 "SyntaxError: Use of const in strict mode."
[code]

I also tried updating nodejs but same error again and again. I am using Cent OS 6.

[2016-07-24 08:43] kinjalgiri opened #9 "Demo App has 500 Internal server error while getting users on first load"
I am getting 500 Internal server error while getting users on first load as in image below
![getstream_demo](https://cloud.githubusercontent.com/assets/8242228/17082822/a4c6f92c-51a8-11e6-95a2-3f0aefef50bb.png)

[2016-07-25 15:04] miladr0 commented on #9
Same problem, it's not working

[2016-07-25 16:51] astrotars commented on #9
Thanks for the heads up @Blackops404 @kinjalgiri! Problem fixed now :) 👍

[2016-07-25 16:51] #9 closed

[2016-07-25 16:52] astrotars commented on #8
@kinjalgiri what version of node.js are you running? have you tried passing in the harmony flag in when starting node? https://nodejs.org/en/docs/es6/

[2016-07-25 19:02] miladr0 commented on #9
i tried again it's not fixed

[2016-07-25 19:03] astrotars commented on #9
Can you provide a screenshot of your browser console?

On Mon, Jul 25, 2016, 1:02 PM Blackops404 notifications@github.com wrote:

[2016-07-25 19:58] miladr0 commented on #9
![capture](https://cloud.githubusercontent.com/assets/6761526/17115264/cbb508a6-52c7-11e6-8757-042cc3fedc82.PNG)

[2016-07-27 07:53] kinjalgiri commented on #8
[code]

For --harmony flag, I will give it a try and let you know here.

[2016-07-27 14:13] astrotars commented on #8
You're way out of date. I'd recommend node 5.x.

On Wed, Jul 27, 2016, 1:53 AM Kinjalgiri Goswami notifications@github.com
wrote:

[2016-07-28 01:38] #8 closed

[2016-08-01 08:01] iamrudra opened #10 "App keeps reloading"
I tried tutorial 1 a few weeks ago and at the end of it - It was working just fine. Then after a break I resumed and I re-ran it after Tutorial 6 and it'd do nothing but it kept reloading. I see the `Loading...` on the browser and nothing else. I thought I misconfigured it so I did a new clone and retried tutorial 1 but it still the same.

Any pointers?

[2016-08-02 20:40] astrotars commented on #10
Hey @iamrudra, I apologize for the delay... Have you tried swapping out the Facebook App ID in the index.ejs file in /app? That should fix the reload issue, assuming that you don't have any other errors popping up in your console. On that note, what browser/OS are you running?

[2016-08-02 20:48] viditmaniyar commented on #10
@nparsons08 - No worries man! I used OSX + Chrome. And just recalled that I was facing some error indeed. I had not put the MapBox credentials and that was throwing an error but I don't that that was causing the reload.
Here's **why** -

I started afresh on my Ubuntu 16.04 machine (+Chrome) yesterday again from the scratch and this time I could see the landing page without issues.

[2016-08-02 20:55] iamrudra opened #11 "API and the UX shows error but the image is uploaded to S3"
After the part in the series where I configured IMGX, Algolia and Keen, I tried uploading an image out of curiosity. But saw an error message on the upload button as well as the API since I had not put the MapBox credentials.

Even then, the images got uploaded to the S3 bucket. Ideally this should have _not_ been uploaded since it's an error on API and UX.

OS: Ubuntu 16.04; Browser: Chrome

[2016-08-02 20:57] astrotars commented on #10
Perfect. So you're up and running now? :) 👍

[2016-08-02 20:58] nparsons08 commented on #11
Dupe

[2016-08-02 21:07] #10 closed

[2016-08-03 01:33] viditmaniyar commented on #10
@nparsons08 - Technically not yet on the machine that I faced problems in the first place but you can keep this closed. I will try and reproduce and let you know.

[2016-08-03 01:34] astrotars commented on #10
Sounds good. Happy to help.

On Tue, Aug 2, 2016, 7:33 PM Vidit Maniyar notifications@github.com wrote:

[2016-08-03 01:34] viditmaniyar commented on #11
@nparsons08 - Sorry I didn't get that. If you meant duplicate, then nope. This is an entirely separate issue.

#10 was about app breaking and keeps refreshing and does not show anything except `Loading...` and this is about unintentional uploads and inconsistency in frontend and backend

[2016-08-03 01:35] iamrudra commented on #11
#10 was about app breaking and keeps refreshing and does not show anything except `Loading...` and this is about unintentional uploads and inconsistency in frontend and backend

[2016-08-03 01:51] astrotars commented on #11
I see. What is the error message that you're seeing? @iamrudra

[2016-08-03 15:49] astrotars commented on #11
@iamrudra feel free to email me directly at nick@getstream.io to continue the conversation there.

[2016-08-03 17:50] viditmaniyar commented on #11
@nparsons08 - Sorry for the delay didnt get a chance to send you the screenshots yesterday. Will do it today evening PST.

[2016-08-07 22:33] viditmaniyar commented on #11
@nparsons08  -

### To reproduce:
1. Remove your `mapbox_access_token` from the `env.sh` file.
2. Go to the `localhost:3000/upload`, select an image and click the upload button.
3. The api console will show error that mapbox credentials needs to be added -
   ![api_error](https://cloud.githubusercontent.com/assets/12117759/17465674/54559ec4-5cb3-11e6-8435-ac5ac7a351cb.png)
   The UI in the browser

[2016-08-09 18:16] astrotars commented on #11
What version of node are you running @iamrudra?

[2016-08-10 04:59] viditmaniyar commented on #11
@nparsons08

[code]

[2016-08-10 14:46] astrotars commented on #11
Can you first try upgrading to a 5.x branch of node? @iamrudra

[2016-08-16 14:42] MarkMurphy opened #12 "Live Demo Broken"
I'm not sure if you've noticed but the live demo at http://cabin.getstream.io/demo seems to be broken.

The web console shows the following error:

[code]

[2016-08-22 18:19] MarkMurphy commented on #12
@nparsons08 ?

[2016-08-22 18:24] astrotars commented on #12
@MarkMurphy We've confirmed it's working on our end (http://cabin.getstream.io:3000/). Do you see any errors in your console that you can share? Also, what OS and browser / version are you using? Thanks!

[2016-08-22 18:38] MarkMurphy commented on #12
Still not working for me:

Chrome 52.0.2743.116 (64-bit) on Mac OS X El Capitan 10.11.5

![screenshot 2016-08-22 15 37 00](https://cloud.githubusercontent.com/assets/873474/17866808/5d316e3e-687e-11e6-8f0e-d77d3d0ff942.png)
![screenshot 2016-08-22 15 38 28](https://cloud.githubusercontent.com/assets/873474/17866856/83f166fa-687e-11e6-98ce-58920174b43b.png)

[2016-08-22 18:42] astrotars commented on #12
Thank you for sharing. That's very odd behavior. Are you able to load the site up on a cell phone to see if it loads there? Perhaps a plugin of sorts is blocking (wild guess)?

[2016-08-22 18:43] #11 closed

[2016-08-22 18:51] MarkMurphy commented on #12
Yeah super weird. Seems like it works on my iphone except that it's choking on my last name apparently being null.

Just out of curiosity, I tried it on Safari on my Mac and had the same issue. I'm beginning to suspect that it might just be the network configuration of the office building I'm in. There's a high probability they're blocking that port. I'll try it again at home tonight and see what

[2016-08-22 19:03] MarkMurphy commented on #12
Actually, just confirmed it. That port is blocked on our office network. Don't know why I didn't think of that sooner, first time it's become an issue I guess.

[2016-08-22 19:03] #12 closed

[2016-11-02 12:32] giladaya opened #15 "Typo in code"
Was getting an error after each upload and traced it back to this line:
https://github.com/GetStream/stream-react-example/blob/de0c1e890c741c19efc25b0a2040349e142200ac/app/modules/actions/Stream.js#L19

I believe it should be `data.new.map` instead of `data.news.map`

Thanks

[2016-11-04 23:51] astrotars commented on #15
@giladaya Thanks for the heads up! Would you mind submitting a PR?

[2016-11-08 10:21] giladaya commented on #15
Ok, might take me some time though...

[2016-11-16 21:27] #15 closed

[2016-11-30 16:32] seenickcode opened #16 "Cannot resolve module 'react/lib/ReactComponentTreeHook'"
Hello, I have just cloned the repo and ran the following with errors and therefore cannot run the app:

This is in reference to the "Run Webpack & Check Out Your App" section here http://blog.getstream.io/cabin-react-redux-example-app-introduction

[code]

[2016-12-08 03:48] heru commented on #16
Same error with @seenickcode
![image](https://cloud.githubusercontent.com/assets/28038/20996922/a4eabef6-bd33-11e6-9f6a-d825d43d827a.png)

any suggestion ?

[2016-12-08 04:22] heru commented on #16
It works after I change react-dom and react-addons-test-utils requirement on app/package.json :

react-addons-test-utils from "^15.1.0" to "~15.1.0"
react-dom from  "^15.1.0" to "~15.1.0"

@seenickcode you can try this. it works

[2016-12-08 08:29] JelteF commented on #16
@heru could you make a pull request for that?

[2016-12-08 10:51] seenickcode commented on #16
Yep, worked, @heru thanks a ton.  PR would be awesome.

[2016-12-08 11:09] #16 closed

[2016-12-08 11:10] JelteF commented on #16
I just committed it myself.

[2016-12-13 01:54] malonehedges opened #17 "Ability to delete posts / accounts"
I'd like to have the ability to delete posts / accounts.

In part to make the app more feature complete and in part to delete my test post / account. Is this something that can be added to the roadmap, or would you potentially be open to PRs?

[2017-02-20 14:50] dwightgunning opened #18 "Intermittent demo breakage (after FB Connect)"
The demo seems to be breaking intermittently after authorizing Cabin via Facebook Connect.

The following is logged to the browser console:

[code]

[2017-03-14 11:28] ArchieHicklin opened #19 "Upload not working 😞"
Everytime an upload request is made, it returns:

`POST http://localhost:8000/uploads 500 (Internal Server Error)`

No error in the terminal, just this error in the console.

[2017-03-20 16:23] dwightgunning commented on #18
Resolved with PR #21.

[2017-03-20 16:23] #18 closed

[2017-03-20 16:27] dwightgunning commented on #19
Hi Archie,

This may be related to the various integrations that are triggered when uploading (Imgix, Mapbox, Keen). The application isn't fully functional when you first clone the repo as there is some extra setup required.

Check your env.sh and if you've not got all the keys/secrets setup then that's likely to be the cause of the problem.

When we created the guide we intended/expected people w

[2017-03-21 13:47] ArchieHicklin commented on #19
@dwightgunning Thanks for the reply,

Still get the same error persisting even after the recent pushes 😭

Navigating to `http://localhost:8000/uploads`

returns the message

`{"code":"InvalidCredentials","message":"No authorization token was found"}`

Went slowly through the entire tutorial and env.sh is completely filled out with the various api keys.

Would it be possible to send you or someone

[2017-04-07 09:28] dwightgunning commented on #19
Sorry for the slow response. Feel free to send it to dwight@getstream.io

[2017-07-06 06:00] abrophy opened #26 "DB connection in index.js not using port configured in env.sh"
If you attempt to configure a custom port in the env.sh file it is not respected by the mysql connection initiated in index.js .

The port key is missing from the config object passed to the createConnection method.

[2017-07-24 01:52] toyeebgodo opened #28 "Demo & "Run Webpack & Check Out Your App" not working with Facebook Logged In"
Hi guys, thanks for the wonderful work that went into putting together this great tutorial. Before proceeding with the tutorial, I attempted to give the demo a go by logging in through Facebook. It didn't log me in and it kept displaying "loading" continuously.  I ignored everything and proceeded to build the app by following the tutorial directives.

After running "npm start" and opening http://l

[2017-08-17 09:22] dwightgunning commented on #26
Thanks for the pick up. Will review the PR shortly.

[2017-08-17 09:37] #26 closed

[2017-08-17 09:41] dwightgunning commented on #28
Thanks for the report!

Unfortunately this isn't the first time I've noticed the issue, but I had thought it was only effecting my personal Facebook account. I will try to replicate it again and take a closer look at the issue.

Stay tuned.

[2017-08-17 09:49] #19 closed

[2017-08-28 20:39] astrotars commented on #17
Hey @malonehedges, apologies for the delay. We're definitely open to PRs. Hope to see a contribution soon!

[2017-08-28 20:39] #17 closed

[2017-08-28 20:45] astrotars commented on #28
Hey @toyeebgodo, we're working on improvements to the application now. Generally, your issue can arise due to one of two problems. 1) you did now allow for us to collect your email during the authentication step, or 2) the API was malfunctioning and there was a connection issue. Both can happen locally as well. Closing this for now; however, please reopen or ping me directly if you are having issu

[2017-08-28 20:45] #28 closed

[2017-09-01 01:25] toyeebgodo commented on #28
Thank you so much for your kind attention to this, @dwightgunning and @nparsons08. Facebook login is now working, maybe it was an API malfunction.  I am deeply grateful to you guys for the wonderful work of putting together such an extremely detailed and complex app. I am a huge fan. Thanks a billion for the recommendation of Tyler McGinnis' React tutorial.

[2017-09-04 17:40] sadzebra opened #35 "Error thrown when running "source ../env.sh; node index.js" command in tutorial step"
When following the set up tutorial i get an error on the step for the command above "source ../env.sh; node index.js"

The error generated in the terminal is
`/github/stream-react-example/api/index.js:74
);
^

SyntaxError: Unexpected token )
    at createScript (vm.js:56:10)
    at Object.runInThisContext (vm.js:97:10)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js

[2017-09-05 08:08] dwightgunning commented on #35
Looks like a syntax error introduced by some [automated linting](https://github.com/GetStream/stream-react-example/blame/d664ec314c7c9160f871fc0450d4474442db7787/api/index.js#L74).

I'll check I can reproduce it and see about a fix.

[2017-09-05 08:55] dwightgunning opened #36 "Continue support for Node versions < v8.0.0?"
The recent Prettier styling (43a3acd2b7491558fb6f24d8039b672f644c3ea4) seems to have introduced trailing commas in function calls throughout the codebase. This [ES2017 syntax](http://node.green/#ES2017-features-trailing-commas-in-function-syntax) causes errors with Node versions <v8.0.0 as raised in #35.

Should we strip these trailing commas in order to return to supporting Node v7 (and earlier)?

[2017-09-05 08:57] dwightgunning commented on #35
I can replicate this error with Node versions < 8.0.

This is due to the lack of support for [trailing commas in function calls](http://node.green/#ES2017-features-trailing-commas-in-function-syntax).

Since these trailing commas now appear throughout the codebase it's not quick one-line fix. I've raised #36 to open discussion about whether this should be reverted.

@sadzebra - can you confirm the

[2017-09-05 10:41] sadzebra commented on #35
@dwightgunning, Thanks for the help.

I can confirm that upgrading to the latest stable (8.x) instead of the LTS version (6.x) solves this problem. However i seem to get more errors, is there a way of getting some extra support on this?

I just get the loading screen now and it doesn't go past this.

[2017-09-05 11:12] sadzebra commented on #35
This is solved, solution is to use version of node  v8 onward.

[2017-09-05 11:12] #35 closed

[2017-09-05 11:33] sadzebra commented on #36
I guess it would depend on LTS support. I thought this might help with a decision.

https://github.com/nodejs/LTS#lts-schedule1

[2017-09-05 11:50] dwightgunning commented on #36
@sadzebra The release maintenance and LTS schedule is definitely something to consider.

My instinct is that since this is 'showcase' application, the codebase ought to continually move forward and adopt new language features as soon as they're available. Contrast that to our API Client libraries and Framework Integration libraries which are dependencies of other projects and should therefore reta

[2017-09-05 11:51] dwightgunning commented on #35
@sadzebra - just to confirm you were able to work through the subsequent problem with the loading screen?

[2017-09-05 12:05] sadzebra commented on #36
Yeah, i'd have to agree, seems like the logical approach. The LTS is in maintenance at the moment so in **theory** anyone using that should be looking into migrating anyway. Also version 7.x doesn't have support now so i would assume that the majority of users will be on 8.x or moving to 8.x, which also has LTS until 2019.

I've added a comment on the blog advising users to upgrade the version of

[2017-09-05 12:21] dwightgunning commented on #36
Comments on the blog pointing out areas for improvement are most appreciated. We're a fairly small team juggling quite a few projects, libraries, languages, etc. so sometimes it takes longer than we'd like to respond. But we do really love the fixes and feedback!

[2017-09-05 15:33] sadzebra commented on #35
Yes, everything is up and running now on version 8.4.0 of nodes.

[2017-09-05 16:36] dwightgunning commented on #35
Brilliant. Thanks again!

[2017-09-05 17:03] astrotars commented on #36
Hi all, just a quick update from my end. Provided that Cabin is a tutorial, we've decided to keep it up to date with the latest version of Node.js (currently 8.4). If you're running an outdated version of Node.js, we encourage you to upgrade to avoid breaking changes that were pushed during the last update – apologies for not making that clear. Closing this out for now, however, feel free to open

[2017-09-05 17:03] #36 closed

[2017-09-09 08:48] ilyador opened #37 "Database import imports nothing"
[code]

Any idea why?

[2017-09-09 10:50] #37 closed

[2017-09-14 09:26] dwightgunning opened #38 "Uploading a file causes an API error: "TypeError: Cannot read property 'path' of undefined""
A user reported this error via email. I've replicated on the live demo app and my own development environment.

[code]

[2017-09-14 13:01] #38 closed

[2017-12-19 19:07] nemaniarjun opened #41 "Demo not working?"
The Live Demo doesnt seem to be working at all.
Same when trying to run the app locally.

[2017-12-19 19:09] nemani commented on #41
https://screenshots.firefox.com/uWUMDdKNaBRgYag4/cabin.getstream.io

[2017-12-19 19:11] nemani commented on #41
Tried it on both Firefox (Quantum) and Chrome. Using ubuntu 16.04.

[2018-01-15 15:48] astrotars commented on #41
Hi @nemaniarjun, can you provide additional details as to what is going on? The screenshot that you provided has expired. Are you seeing any errors in your console that you can share? Perhaps it's a Facebook login issue?

[2018-01-19 17:55] astrotars commented on #41
Closing due to lack of activity.

[2018-01-19 17:55] #41 closed

[2018-01-24 19:25] EliSadaka opened #42 "App won't load"
I'm trying to run the app by following the instructions here: [https://getstream.io/blog/cabin-react-redux-introduction/](https://getstream.io/blog/cabin-react-redux-introduction/)

I followed all the steps but when I go to http://localhost:3000 I get a blank page and my console reads like this:
![error](https://user-images.githubusercontent.com/35779188/35352274-6fd1fab8-0111-11e8-867d-b70e675e11

[2018-01-29 03:17] gmorneault commented on #42
Getting the same error.

[2018-01-29 20:46] EliSadaka commented on #42
I fixed my issue by downgrading react and react-dom to 15.6.2 and react-router to 3.2.0.

[2018-01-29 20:47] #42 closed

[2018-02-17 23:54] msnowai opened #43 "Deploying to Heroku Errors"
Because the api and app are in two different folders I am having a lot of issues deploying this app to heroku. What I have done so far is make a package.json at the root and Im using npm concurrently to run these commands:

[code]

When heroku runs "npm start" I get this error and the app wont load:
[code]

Do you know how I should go about setting this app up with heroku?

[2018-02-19 03:50] anthonybrown opened #44 "Demo not working"
Seems like the demo is not working?
All I see is a blank page.

Opening the console, I see that `Keen` is not defined?

[2018-02-25 04:50] daletom commented on #42
Hey EliSadaka, how would I go about downgrading react and react-dom to 15.6.2 and react-router to 3.2.0.

[2018-02-26 03:37] EliSadaka commented on #42
In the /app folder:

`npm install react@15.6.2 react-dom@15.6.2 react-router@3.2.0`

[2018-03-21 11:12] KarlsDad commented on #44
also here, whats wrong?
only the "Loading..." Message can be seen

[2018-03-28 06:16] dwightgunning commented on #43
Currently the project folder structure isn't really setup with Heroku in mind.

Also, important to note that there are in fact two Node.js web applications, 'app' and 'api, running alongside one another. We typically use PM2 to manage this but I'm not aware of a good solution for PM2 on Heroku (it's kind of redundant with their load-balancing and process restart features anyway).

At this stage He

[2018-03-28 06:16] #43 closed

[2018-03-28 06:20] #44 closed

[2018-03-28 06:20] dwightgunning commented on #44
This demo app runs on quite a small server, occasionally it needs a nudge. Issue should be resolved now and the demo app up and running again.

[2018-04-21 13:51] jigyasam commented on #44
@dwightgunning Its down again. Culprit seems to be this `POST` call `http://cabin.getstream.io:8000/users`.

[2018-04-24 15:39] vincentroman opened #47 "it doesn't run on my windows pc"

[2018-05-05 13:22] vincentroman commented on #44
please  can this app be developed loacally on windows or ubuntu latest versions ?

[2018-05-07 07:39] dwightgunning commented on #44
@vincentroman - Yes it should be fairly straight forward to run this web application on Windows or Ubuntu.

[2018-05-07 07:40] dwightgunning commented on #47
Please provide a detailed description of the issue and we'll see what we can do.

[2018-05-17 13:10] dwightgunning commented on #47
Closing due to a lack of information. Happy to re-open if/when appropriate.

[2018-05-17 13:10] #47 closed

[2018-05-24 08:01] manjulrajeevpathak opened #48 "Live demo not working"
The live demo at "https://getstream.io/cabin/demo" doesn't load at all.
It gets stuck on "Loading..." screen

There is one console log --

Can't load URL: The domain of this URL isn't included in the app's domains. To be able to load this URL, add all domains and sub-domains of your app to the App Domains field in your app settings.

[2018-05-25 09:42] dwightgunning commented on #48
Thanks for the report. We've made a fix and the demo is up again.

[2018-05-25 09:42] #48 closed

[2018-05-31 07:11] rahuldwivedi opened #49 "App is not working"
Hello there I have go through with tha app setup steps but when I am hitting on http://localhost:3000

I am having error message on chrome console attaching screenshot please have a look
![screenshot from 2018-05-31 12-38-46](https://user-images.githubusercontent.com/14931585/40767380-fda0bd94-64cf-11e8-983d-ec7bf0e2aeaf.png)

[2018-06-04 07:35] dwightgunning commented on #49
That looks like a syntax error in the `app.js` file. Have you taken a closer look at this file to ensure it's built correctly?

[2018-06-15 19:15] vincentroman commented on #49
can  you please help me with your own app.js code

[2018-07-06 15:19] vincentroman opened #50 "api not working on my machine"
my api doesn't work always shows this please help me i really need to see this app am using Ubuntu 18.4
internal/modules/cjs/loader.js:583
    throw err;
    ^

Error: Cannot find module 'base64url'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:581:15)
    at Function.Module._load (internal/modules/cjs/loader.js:507:25)
    at Module.require (internal/modules/cjs/loader.j

[2018-07-07 20:17] vincentroman opened #51 "runing api always fails"

[2018-07-07 20:18] vincentroman opened #52 "runing the api leads me to this failure"
source ../env.sh; node index.js
{
  "level": "info",
  "message": "GetStream.io - React Example App v1.0.0 ready to accept connections on port listening on port 8000 in development environment",
  "timestamp": "Sat Jul 07 2018 21:15:54 GMT+0100 (West Africa Standard Time)"
}
/home/roman/stream-react-example/api/node_modules/mysql/lib/protocol/Parser.js:80
        throw err; // Rethrow non-MySQL er

[2018-08-09 19:18] SakhirAtwi opened #53 "The demo site https://getstream.io/cabin/demo/ is not working."
@nparsons08   After facebook login authentication, nothing happens. I don't that what is supposed to happen.
![screenshot_20180810_001646](https://user-images.githubusercontent.com/42070051/43920562-b691dccc-9c32-11e8-9c19-c68c34be2030.png)

After login, the same screen comes again. I think your site is outdated or something.

[2018-08-09 19:30] astrotars commented on #53
@SakhirAtwi –

Do you have ad blockers installed? If so, which one?

What browser and version are you running?

[2018-08-09 19:30] #52 closed

[2018-08-09 19:30] #50 closed

[2018-08-09 19:30] #51 closed

[2018-08-09 19:30] #49 closed

[2018-08-09 19:32] astrotars commented on #53
FYI - this is the latest version of Chrome on macOS

![2018-08-09 at 1 31 pm](https://user-images.githubusercontent.com/1328388/43921318-96e19f5c-9bd8-11e8-8873-bc52cd156040.png)

[2018-08-09 19:38] SakhirAtwi commented on #53
@nparsons08 yeah I do have ad blockers install, sorry my bad :P, but the point is why should it be a trouble anyways?

[2018-08-09 19:43] astrotars commented on #53
@SakhirAtwi  Ad blockers prevent some of our scripts from running and since it's in an iframe, it causes even more errors. Not sure why as I'm not in the ad blocking business ;) but I'd suggest disabling them if you're having trouble. Also, the Cabin demo works best in Chrome. Try an Incognito window if you're worried about ad tracking.

[2018-08-09 19:44] SakhirAtwi commented on #53
@nparsons08  Alright, thanks :)

[2018-08-09 19:52] SakhirAtwi commented on #53
@nparsons08 I notice you closed this issue already, but one last question, do the apps built on top of streamio has to be running in mobile devices or iframe? I mean can't we have UI for desktop? If so, why not configure your demo app for that, it would be great.

Cheers, Happy Coding.

-SakhirAtwi.

[2018-08-09 19:54] astrotars commented on #53
@SakhirAtwi Sorry, I thought we had closed the conversation in general :) Cabin is one of our older example applications and a desktop version wasn't in the spec at that time. In the future, we may go down that road. Possibly even a native application. Keep an eye on the project! :) I'd suggest checking out Winds, which is available on macOS, Linux (any distro), Windows, and the web – https://gets

[2018-08-09 20:06] #53 closed

[2018-08-14 11:08] vincentroman opened #54 "please how do i get https to work for this app"
i have been trying to get this app to work on a live server as i have noticed that i need https in order for the app to work with facebook login but i have tried using the free ssl certificates to install lets-encrypt but to no success please how do i get https to work on it... i do have the app working fine on my local machine though but not on the server like yours

[2018-09-21 19:28] vincentroman commented on #28
@toyeebgodo please how did you get facebook login to work for you cus am hhaving issue with the api not allowing GET

[2018-10-06 22:28] wsdt commented on #3
After removing it from the Facebook applications, the issue is still there by logging in with Facebook again (all permissions granted).

[2018-10-16 12:20] vincentroman opened #55 "{"code":"InvalidCredentials","message":"No authorization token was found"}"
@nparsons08 i have been having issue setting up this app for months as i have now osolved  many of the issues my self but still cant get pass this one my url is trendit.pro and my api is trendit.pro/api but every time i click the Facebook login it keeps reloading and i get this error if i visit the api link {"code":"InvalidCredentials","message":"No authorization token was found"} please help me t

[2018-10-16 15:07] astrotars commented on #55
@vincentroman It looks like you haven't swapped out the Facebook key. Did you create a Facebook application under your Facebook developer account?

[2018-10-16 15:08] astrotars commented on #54
@vincentroman You'll need to implement with Nginx or something alike. I would recommend using a combination of https://letsencrypt.org/ and Nginx.

[2018-10-16 15:08] #54 closed

[2018-10-16 21:19] vincentroman commented on #55
@nparsons08 thanks for the reply yes i did
you can take a look at my site header to see for for your self

[2018-10-16 21:31] vincentroman commented on #54
thanks

[2018-10-16 23:02] vincentroman commented on #55
@nparsons08  plus the app keeps reloading and returning 405 error method post not allowed on trendit.pro/api:8000

[2018-10-17 23:02] vincentroman commented on #55
@nparsons08 pleas i need your help with the app please i have been working on this for months please help me out i have created the facebook login and still cant get it to work please help

[2018-10-18 17:35] vincentroman commented on #55
@nparsons08 i am now getting another error after solving the first one here it is please i need a solution to this {"code":"MethodNotAllowedError","message":"GET is not allowed"}

[2018-10-18 22:05] vincentroman commented on #55
@dwightgunning  i am now getting another error after solving the first one here it is please i need a solution to this {"code":"MethodNotAllowedError","message":"GET is not allowed"}

[2018-10-20 00:02] redeyeowner opened #56 "it is mistake in stream-react-example/api/processes.json file"
You write unnecessary code at the end of JSON.

[2018-10-21 19:08] vincentroman commented on #56
please what do you mean

[2018-10-29 19:09] vincentroman opened #57 "CORS not working on api"
@nparsons08 i think the problem with the  cabin app not working is due to cors issue on the resitfy version or somthings please help me fix it my domain name is trendit.pro/api

[2018-11-01 00:28] vincentroman opened #58 "{"code":"InvalidCredentials","message":"No authorization token was found"}"
@dwightgunning i have beent trying to login the app for months and now am getting have sent many message about this but no reply please help me

[2018-11-05 09:32] dwightgunning commented on #58
Hi @vincentroman I'm no longer working at Stream and unfortunately don't have the spare time available to continue contributing to this project (nor a Facebook account to check the login issue you're experiencing). Sorry I can't be of more help.

[2018-11-07 10:21] vincentroman commented on #58
ok thanks

[2018-11-07 22:59] #58 closed

[2018-11-07 22:59] #57 closed

[2018-11-07 22:59] #55 closed

[2018-11-07 23:00] #56 closed

[2018-12-09 20:55] ericsolberg commented on #42
I was sure hoping to be able to use this tutorial, but have now spent an entire weekend on step 1. There are very specific dependencies for everything, but these aren't mentioned (I ended up figuring it out based on the publish date of the tutorial- guessing at the versions based on what was out at that time).

I worked through one roadblock at a time. Initially I found myself removing and re-inst

[2018-12-09 22:20] ericsolberg commented on #42
I created a Github project of the Docker file I used to work through all the dependencies and make this tutorial work. If anyone finds it useful:
https://github.com/ericsolberg/cabin

[2018-12-12 07:16] dotnetprofessional opened #59 "ER_WRONG_VALUE_FOR_VAR: Variable 'sql_mode' can't be set to the value of 'NO_AUTO_CREATE_USER'"
I'm getting the following error when running:
[code]

[code]

I'm running on Windows and your setup seem tailored to Linux.

[2019-01-04 10:55] vincentroman commented on #42
@ericsolberg please did you get the app to work after clicking the continue with facebook if yes please share your code with me i also have been working on getting it pass the facebook login

[2019-01-16 23:40] BishopMildert opened #60 "Having issues when running "source ../env.sh; webpack --watch --progress""
when executing `source ../env.sh; webpack --watch --progress`
 I get the following output:
[code]
I then run `'yarn add -D webpack-cli'`

[code]

however, there's seems to be some package incompatibilities with node. Can please some advise on how to overcome this issue?

thanks

[2019-01-23 15:13] vincentroman commented on #60
run npm install webpack@3.11.0 with sudo permission or run sudo apt install webpack in the app directory

[2019-01-23 20:04] roryscot commented on #59
@dotnetprofessional

1) open ```api/index.js``` and

2) find
```db.query(`
    SET sql_mode = "STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
`);```
around line 91;

3) Delete ```NO_AUTO_CREATE_USER``` from the query value

[2019-01-23 20:08] roryscot commented on #60
@BishopMildert This is a simple indication that you have a package-lock.json, which means you have npm installed as a package manager in addition to yarn (which uses yarn.lock). This is not an issue with stream-react-example as far as I can tell.

[2019-01-23 20:33] #60 closed

[2019-04-06 17:38] vincentroman opened #61 "Please update code with the one from demo"
@nick please update the code with the demo cus the demo is now working and this is not

[2019-04-11 05:09] kuhij commented on #5
sumit@Sumit-PC:~/Desktop/stream-react-example456$ cd app
sumit@Sumit-PC:~/Desktop/stream-react-example456/app$ npm start

My app is hanging there it is not going forward or connecting to localhost.
Please Help me to sort out this problem

[2019-05-08 11:48] hoffmanc commented on #16
I used `yarn add react-dom` and that fixed this for me!

[2019-07-05 23:55] henryhsue opened #62 "How do I update props sent to Activity?"
I am following the stream-react-example to create a feed. However, my app has a login process that updates the state with the correct token (passed as `this.props.token`). I see that `this.props.token` is updated when StreamApp is rerendered, but for some reason actions related to removing a post via `HeaderRight` do not work until I manually refresh the page. Creating a post via `StatusUpdateForm

[2019-07-10 18:08] #62 closed

[2019-07-31 07:27] vincentroman opened #63 "what the correct callback url to add to facebook developer to get the working like the demo and not to stuck on loading screen"

[2019-07-31 07:30] vincentroman commented on #63
@nparsons08  please nick what are the correct info i need to aadd to my facebook developer console to make the app work cus on my site https://trendme.pro it just keep reloading after i click the facebook login what i my doing wrong?

[2019-07-31 07:37] vincentroman opened #64 "what the correct url details for facebook developer i need to get the app working like the demo cus is mine is stuck on reloading"
@nparsons08 @tilton @jaapbakker88 please nick what are the correct info i need to aadd to my facebook developer console to make the app work cus on my site https://trendme.pro it just keep reloading after i click the facebook login what i my doing wrong?

[2019-07-31 07:37] #63 closed

[2020-01-24 22:03] mawais78 opened #65 "Webpack issue in app"
I'm getting this error on while running the app using webpack

`10% building 1/1 modules 0 active
Webpack is watching the files…

(node:22516) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead
(node:22516) DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead
70% building 4/4 modules 0 activeTypeError: dep.getResourceIdentifier i

[2020-04-08 22:44] username7171 commented on #59
@roryscot  it works thanks!

[2020-04-08 23:41] AronWater opened #66 "CORS issue"
`Access to fetch at 'https://www.facebook.com/x/oauth/status?ancestor_origins=https%3A%2F%2Fgetstream.io&client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' from origin 'https://cabin-api.getstream.io:3043' has been blocked by CORS policy: The 'Access-Control-Allow-Origin' header has a value 'https://www.facebook.com' that is not equal to the s

[2020-04-08 23:42] username7171 commented on #64
`Access to fetch at 'https://www.facebook.com/x/oauth/status?ancestor_origins=https%3A%2F%2Fgetstream.io&client_id=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx from origin 'https://cabin-api.getstream.io:3043' has been blocked by CORS policy: The 'Access-Control-Allow-Origin' header has a value 'https://www.facebook.com' that is not equal to the suppl

[2020-11-02 11:43] aleixmorgadas opened #67 "Consider adding a License"
Hi!

Even though seems like this repository hasn't activity anymore, I think it is still offers a good reference to start building and trying stuff.

Because it hasn't a License, we cannot download and modify the source code in a legal way. So, it somehow loses the purpose of the repository.

Thank you for your time! :D

[2020-12-07 10:24] tranlehaiquan opened #68 "ChannelList reaload everytime parent state change"
Hello,
I want to change my location from message -> message/:channelId when the user clicks on the channel. But I face with the problem that every time location changes (eg: message/channel1 -> message/channel2). I find it out because this line in usePaginatedChannels.js. useEffect always run because it can't compare `filters`.  (line 82) I replace it with `use-deep-compare-effect` and it work.

[

[2020-12-07 10:41] #68 closed